<div class="protip-show">

	<div class="protip">

		<h1 class="title"><%= @protip.title %></h1>
		<h2 class ="content"> <%= @protip.content %> </h2>

		<span class="info">
			<div class="adder-info">
					<i class="fa fa-user"></i> Posted by <div class="adder-name" onclick="location.href='<%= user_path(@protip.adder_id) %>';"><%= @protip.adder_name %></div> on <%= @protip.get_created_time %>
			</div>

			<h5><%= @protip.votes.size %> 
				<i class="fa fa-thumbs-o-up"></i>
				<% if !current_user.voted_for? @protip %>
						<%= link_to "kudos", protip_path(:id => @protip.id, :update_protip_id => @protip.id, :dislike => "disliked") %>
				<% else %>
						<%= link_to "undo", protip_path(:id => @protip.id, :update_protip_id => @protip.id, :like => "like") %>
				<% end %>
			</h5>
		</span>

	</div>

	<div class="span10 comment answer-box clearfix" id="responses">
		<div class="span2">
			<div class="circle" style="background-image:url(<%= current_user.profile_picture.url %>);">
			</div>
		</div>
		<div class="span10">
			<%= form_tag(protip_path(@protip.id), :method => "get", class: "navbar-form") do %>
				<h5 class="text-heading">Add your comment below:</h5>
					<%= text_area_tag :comment, params[:comment], class: "span12 text-box text", placeholder: "Type your answer here..." %>
					<button class="button" type="submit">Add Answer</button>	
			<% end %>
		</div>
	</div>
		
	<div class="span10 comment clearfix">
		<%= "No comments yet." if @protip_comments.empty? %>
		<% @protip_comments.each do |comment| %>
		<div class="individual-comment">
						<div class="row fluid">

				<div class="span2 commenter-pic">
					<% commenter = User.find(comment.commenter_id) %>
						<div class="square-mask" style="background-image:url(<%= commenter.profile_picture.url %>);">
						</div>
				</div>

				<div class="span10">
					<div class="comment-adder-name">
						<div class="user-name" onclick="location.href='<%= user_path(comment.commenter_id) %>';"><%= User.find(comment.commenter_id).to_s %></div> answered on <%= comment.get_created_time %>:
					</div>

					<div class="comment-content">
							<br/>
							<%= comment.comment %>
					</div>

				</div>

			</div>
		</div>
		<% end %>
	</div>

</div>

<script>
	$('body').addClass('protip-show-bg');
</script>

