<div class="user-index">
	<div class="row-fluid">
		<div class="search-user">
			<div class="text-wrapper">
				<div class="text1">Looking for a user?</div>
				<%= form_tag(users_path, :method => "get", class: "navbar-form", id: "search-form") do %>
				  <div class="input-append">
				    <%= text_field_tag :search, params[:search], class: "span12", placeholder: "Search Users" %>
				    <button class="btn" type="submit"><i class="icon-search"></i></button>
				  </div>
				<% end %>
			</div>
		</div>
<% @users.each do |user| %>
		<div class="span3">
			<div class="profile-thumb">
				<% if user.profile_picture.present? %>
					<div class="picture-thumb" style="background-image:url(<%= user.profile_picture.url %>)">
						<% if not user.is_current_student %>
							<%= image_tag "alum.png", :class => 'status-ribbon' %>
						<% end %>
					</div>
				<% else %>
					<div class="picture-thumb" style='background-image:url("http://placehold.it/300x300")'></div>
				<% end %>
				<div class="show-name"><%= user %></div>
				<%= link_to '<div class="button">Show Profile</div>'.html_safe, user %>
			</div>
		</div>
	<% end %>
	<div class="span12">
		<%= paginate @users %>
	</div>
	<% if @users.count == 0 %>
		<div class="span12" style="margin-left:0px">
			<h5 class="profile-thumb">No results found.</h5>
		</div>
	<% end %>

</div>
</div>


<%= javascript_include_tag "landing_scripts" %>
