<div class="companies-index">

	<div class="add-company">

		<div class="text-wrapper">

			<%= form_tag(companies_path, :method => "get", class: "navbar-form", id: "search-form") do %>
			  <div class="input-append">
			    <%= text_field_tag :search, params[:search], class: "span12", placeholder: "Search Companies" %>
			    <button class="btn" type="submit"><i class="icon-search"></i></button>
			  </div>
			<% end %>

			<div class="text1">Didn't see the company you're looking for?</div>
			<%= link_to "<i class='fa fa-suitcase'></i> Add Company".html_safe, new_company_path %>
		</div>

	</div>

<ul class="companies-list">
	<% if @search_results %>
		<h2>Search Results</h2>
	<% else %>
		<h2>All Companies</h2>
	<% end %>
<%  @companies.each do |company| %>
		<li onclick="location.href='<%= company_path(company.id) %>';"><div class="company-name"><%= company.name  %></div>

			<% num_comments = company.num_comments.to_s %>
			<% comments_link = "<i class='fa fa-comments'></i><div class='number'>" + num_comments + "</div>" %>
			<% num_questions = company.num_questions.to_s %>

			<%= link_to comments_link.html_safe, company_path(company.id, anchor: 'comments'), :title => num_comments + " comment(s) added", :class => 'comments' %>

			<%= link_to "<i class='fa fa-question-circle'></i>".html_safe, company_path(company.id, anchor: 'questions'), :anchor => 'questions', :class => "questions", :title => num_questions + " question(s) added" %>
		</li>
<% end %>
</ul>

	<%= paginate @companies %>

</div>

<script>
$('body').addClass('companies-index-bg');
$('.comments').tipsy({gravity: 'sw'});
$('.questions').tipsy({gravity: 'sw'});
$(".pagination a").on('click', function() {
  $(this).parent().siblings("li").removeClass("active").end().addClass("active");
});
</script>