<div class="companies-index">

	<div class="add-company">

		<div class="text-wrapper">

			<div class="text1">Didn't see the company you're looking for?</div>
			<%= link_to "<i class='fa fa-suitcase'></i>  Add Company".html_safe, new_company_path %>

		</div>

	</div>

<ul class="companies-list">
<%  @companies.each do |company| %>
		<li onclick="location.href='<%= company_path(company.id) %>';"><div class="company-name"><%= company.name  %></div>

			<% num_comments = company.num_comments.to_s %>
			<% num_questions = company.num_questions.to_s %>

			<% comments_link = "<i class='fa fa-comments'></i><div class='number'>" + num_comments + "</div>" %>			

			<ul class="icons">

				<li><%= link_to comments_link.html_safe, company_path(company.id, anchor: 'comments'), :title => num_comments + " comment(s) added", :class => 'comments' %></li>

				<li><%= link_to "<i class='fa fa-question-circle'></i>".html_safe, company_path(company.id, anchor: 'questions'), :anchor => 'questions', :class => "questions", :title => num_questions + " question(s) added" %></li>

				<li><%= link_to "<i class='fa fa-plus-circle add'></i>".html_safe, new_feedback_path, :class => 'add', :title => "Add new interview question or comment." %></li>

			</ul>

		</li>
<% end %>
</ul>

	<%= paginate @companies %>

</div>

<script>
$('body').addClass('companies-index-bg');
$('.comments').tipsy({gravity: 'sw'});
$('.questions').tipsy({gravity: 'sw'});
$('.add').tipsy({gravity: 'sw'});
</script>