<div class="company-show">

	<div class="header-wrapper">

	<h1><%= @company.name %></h1>
		<a><i class="fa fa-pencil-square-o"></i> Add Feedback</a>
	</div>

	<div class="span12" id="questions">
		<h3>Interview Questions</h3>
		<ul class="questions-list">
			<% if @questions.count == 0 %>
				No questions have been added yet.
			<% else %>
				<% @questions.each do |q| %>
					<li><%= q.feedback_content %>
						<div class="adder-name">
							<i class="fa fa-user"></i>  Posted by <%= q.adder_name %>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>

	<div class="span12" id="comments">
		<h3>Comments</h3>
		<ul class="comments-list">
			<% if @comments.count == 0 %>
				No comments have been added yet.
			<% else %>
				<% @comments.each do |c| %>
					<li><%= c.feedback_content %>
					<div class="adder-name">
							<i class="fa fa-user"></i>  Posted by <%= c.adder_name %>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>

<script>
	$('body').addClass('company-show-bg');

	if (location.hash != "") {
	    $('html, body').animate( {
	    	scrollTop: $(location.hash).offset().top
	    	}, 1000);
	}
</script>
