<div class="form-wrapper">

<%= simple_form_for(@feedback) do |form| %>

    <% if not params[:company_id].nil? %>
        <h1>Feedback for <%= @feedback.get_company_name(@feedback.company_id) %></h1>
        <%= form.hidden_field :company_id, :value => @feedback.company_id.to_i %>
    <% else %>
    <div class='select-wrapper'>
        <%= form.input :company_id, :collection => @feedback.make_company_collection, :input_html => {:class => 'chosen-select'}, label: false %>
    </div>
    <% end %>

    
    <%= form.input :is_question, collection: [['Interview Question', true] ,['Comment', false]], as: :radio_buttons, label: false %>
    <%= form.hidden_field :adder_id, :value => current_user.id%>

    <div class="custom-label"></div>
    <%= form.input :feedback_content, label: false, as: :text %> 
    <%= form.button :submit, class: 'button' %>
  <% end %>

</div>

<script>

	$('#feedback_is_question_true').on('click', function() {
		$('#feedback_feedback_content').attr('placeholder', '  Enter your interview question');
	});

	$('#feedback_is_question_false').on('click', function() {
		$('#feedback_feedback_content').attr('placeholder', '  Enter your comment');

	});

    $('.chosen-select').chosen({
      allow_single_deselect: true,
      no_results_text: 'No results matched',
      width: '200px'
    });


</script>