<div class="question-show">


	<h1><%= @feedback.feedback_content %></h1>

	<div class="company-name" onclick="location.href='<%= company_path(@feedback.company_id) %>';">
		<%= @feedback.get_company_name(@feedback.company_id) %>
	</div>

		<div class="adder-name">
			<i class="fa fa-user"></i> Posted by <div class="user-name" onclick="location.href='<%= company_path(@feedback.company_id) %>';"><%= @feedback.adder_name %></div> on <%= @feedback.get_created_time %>
		</div>
					
</div>

<script>
	$('body').addClass('question-show-bg');
</script>
