<div class="question-show">

	<div class="question-header">
		<h1><%= @feedback.feedback_content %></h1>

		<div class="company-name" onclick="location.href='<%= company_path(@feedback.company_id) %>';">
			<%= @feedback.get_company_name(@feedback.company_id) %>
		</div>

		<div class="adder-name">
			<i class="fa fa-user"></i> Posted by <div class="user-name" onclick="location.href='<%= user_path(@feedback.adder_id) %>';"><%= @feedback.adder_name %></div> on <%= @feedback.get_created_time %>
		</div>
	</div>
	<div class="main-body"> 

		<% @feedback_comments.each do |comment| %>
			<div class="comment">
				<h4><%= comment.comment%></h4>
				<span class="likes">
					<h5><%= comment.votes.size %> <i class="fa fa-thumbs-o-up"></i> 
					<% if !current_user.voted_for? comment %>
							<%= link_to "kudos", feedback_path(:id => @feedback.id, :update_comment_id => comment.id, :dislike => "disliked") %>
					<% else %>
							<%= link_to "undo", feedback_path(:id => @feedback.id, :update_comment_id => comment.id, :like => "like") %>
					<% end %>
					</h5>
				</span>
				<div class="adder-name">
					<i class="fa fa-user"></i> Answered by <div class="user-name" onclick="location.href='<%= user_path(comment.commenter_id) %>';"><%= User.find(comment.commenter_id) %></div>  on <%= comment.get_created_time %>
				</div>
			</div>

			<% @feedback.get_sub_comments(comment.id).each do |sub_comment| %>
				<div class="comment sub-comment">
					<h4><%= sub_comment.comment%></h4>
					<h5><%= User.find(sub_comment.commenter_id) %></h5>
				</div>	
			<% end %>

			<div class="comment sub-comment">
				<%= form_tag(feedback_path(@feedback.id), :method => "get", class: "navbar-form") do %>
					<div class="input-append">
						<%= text_area_tag :comment_response, params[:comment_response], class: "span12", placeholder: "Type your response here..." %> 
						<%= hidden_field_tag :responding_to_id, comment.id %>
						<button class="btn" type="submit">Add Reply</button>
					</div>
				<% end %>
			</div>
		<% end %>
		<div class="comment">
			<%= form_tag(feedback_path(@feedback.id), :method => "get", class: "navbar-form") do %>
				<h5>Write your response below:</h5>
				<%= text_area_tag :comment, params[:comment], class: "span10", placeholder: "Type your answer here..." %>
				<button class="btn" type="submit">Add Answer</button>	  
			<% end %>
		</div>
	</div>
					
</div>

<script>
	$('body').addClass('question-show-bg');
</script>
