<!DOCTYPE html>
<html>
<head>
  <title>MCIT Social</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "tipsy", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.tipsy" %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700,900,500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Italiana' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/mcit_logo.ico">
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar">
	  <div class="navbar-inner">
	  	<% if current_user.nil? %>
	    	<a class="brand" href="/">mcit social</a>
	    <% else %>
	    	<a class="brand" href="/users">mcit social</a>
	    <% end %>
	    <ul class="nav">
<<<<<<< HEAD
	      <li class=<%= is_active('/users') %>><%= link_to "Users", users_path, :id => "users-nav" %></li>
	      <li class=<%= is_active('/companies') %>><%= link_to "Companies", companies_path, :id => "companies-nav" %></li>
	      <li class=<%= is_active('/questions') %>><%= link_to "Questions", questions_path, :id => "questions-nav" %></li>
=======
	      <li class=<%= is_active('/users') %>><%= link_to "Users", users_path, :id => "users" %></li>
	      <li class=<%= is_active('/companies') %>><%= link_to "Companies", companies_path, :id => "companies" %></li>
	      <li class=<%= is_active('/feedbacks') %>><%= link_to "Questions", feedbacks_path, :id => "questions" %></li>
>>>>>>> 900f414c9c6975d0de4923eede4bc339e95adf09
	      <% if current_user.nil? %>
	      	<li class=<%= is_active('/signup') %>> <%= link_to "Sign up", new_user_registration_path %></li>
	      	<% else %>
	      	<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	      <% end %>
	    </ul>

	    <% unless current_user.nil? %>
	    	<ul class="nav navbar-right">
	    	<li class="sign-in-status">Signed in as <%= current_user.email %></li>
	    	</ul>
	    <% end %>

	  </div>
	</div>
	<div class="row-fluid">
	    <div class="span10 offset1">
			<% if notice %>
			    <p class="alert alert-notice"><%= notice %></p>
			<% end %>
			<% if alert %>
		  	    <p class="alert alert-error"><%= alert %></p>
			<% end %>

			<%= yield %>

		</div>

	</div>
</body>
</html>
